/* Navbar Styles */
.navbar {
    margin-left: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    width: 100%;
    background: linear-gradient(to right, #f5f6f4, #f2f3f2, #e5f7e3);
    z-index: 1000;
    transition: transform 0.3s ease-in-out;
}

.navbar.hidden {
    transform: translateY(-100%);
}

.logo {
    margin-left: 20%;
    font-size: 24px;
    font-weight: 700;
    color: #f80e0e;
    text-decoration: none;
}

.no-underline {
    text-decoration: none;
}

.nav-container {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.nav-links {
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    color: #000;
    font-weight: 600;
    font-size: 15px;
    padding: 5px 30px;
    position: relative;
}

.nav-links a::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -2px;
    width: 0;
    height: 2px;
    background: #fa3924;
    transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
}

.nav-links a:hover::after {
    width: 100%;
    left: 0;
}

.menu-toggle {
    display: none;
    cursor: pointer;
}

/* Blurred Navbar */
.blurred-navbar {
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 40%;
    display: none;
    justify-content: center;
    align-items: center;
    padding: 8px 15px;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(20px);
    z-index: 999;
    border-radius: 20px;
    text-align: center;
    transition: opacity 0.3s ease-in-out;
}

.blurred-navbar.show {
    display: flex;
}

.blurred-navbar .nav-links {
    display: flex;
    flex-direction: row;
}

.blurred-navbar .nav-links a {
    font-size: 15px;
    padding: 3px 10px;
}

/* Responsive styles for navbar */
@media screen and (max-width: 1000px) {
    .navbar {
        padding: 2%;
    }
    
    .logo {
        position: absolute;
        left: 30%;
        transform: translateX(-50%);
    }
    
    .nav-links a {
        padding: 4px 10px;
    }
    
    .menu-toggle {
        display: block;
    }
    
    .nav-container {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 50px;
        left: 0;
        background: rgba(255, 255, 255, 0.9);
        padding: 10px 0;
        text-align: center;
    }
    
    .nav-container.show {
        display: flex;
    }
    
    .blurred-navbar {
        width: 80%;
    }
}

@media (max-width: 600px) {
    .nav-links a {
        padding: 4px 6px;
        font-size: 13px;
    }
    
    .logo {
        font-size: 20px;
        margin-left: 10%;
    }
}